@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

body {
  margin: 0;
  background-color: #121212;
  color: white;
  font-family: 'Inter', sans-serif;
}